@charset "UTF-8";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #c741f0, #434BF8);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 25px;
}

h1{
    color: white;  
    font-size: 1.7em;
    text-shadow: 1px 1px 1px black;
}

.consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.formConsulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.alertas{
    height: 20px;
    width: 202px;
}

#cep{
    width: 200px;
    padding: 5px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.24);
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 17px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.clear{
    background: none;
    border: none;
    cursor: pointer;
}

.clear:hover{
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 80px;
}

#btn{
    background-color: rgb(40, 199, 40);
    color: white;
    height: 35px;
    width: 110px;
    border-radius: 7px;
    border: 2px solid green;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn:hover{
    background-color: rgb(25, 165, 25);
}

.resultadoConsulta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 280px;
    height: 280px;
    border-radius: 15px;
    box-shadow: 1px 7px 17px black;
}

#msgInicial{
    color: rgba(0, 0, 0, 0.603);
    text-align: center;
}